:root {
    --colGren: #CBEB3F;
    --colPur1: #BC5FEB;
    --colPur2: #9d19e9;
    --colPur3: #9d0ff0;
    --colOrg1: #EB901D;
    --colOrg2: #f08b0f;
    --backCol: #0D192D;
}

#body {
    background-color: var(--backCol);
    text-align: center;
    min-height: 100vh;
    color: white;
    letter-spacing: 7px;
    font-family: 'Roboto', sans-serif;
}
#body h1 {
    color: var(--colGren);
}
.bodyDiv {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
#title {
    margin-top: 0px;
    margin-bottom: 0px;
}
#mainDiv {
    position:  sticky;
}
.greenTxt {
    color:  var(--colGren);
}
.whitTxt {
    color:white;
}
#yourChoice {
    color: var(--colPur1);
    font-weight: bold;
}
#enemyChoice {
    color: white;
    font-weight: bold;
}
#result {
    color: white;
    font-weight: bold;
}
#buttonDiv {
    display: grid;
    justify-content: center;
   grid-gap: 20px;
   
    
}
#ROCK, #KAMI, #TIJERAS {
    height: 80px;
    width: 80px;
    background-color: var(--colGren);
    border-radius: 50%;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: bold;
    box-shadow: 0px 0px 2px 2px rgb(0,0,0);
}
#ROCK:hover, #KAMI:hover, #TIJERAS:hover {
    background-color: var(--colPur1);
    color: white;
}
.bubbles {
    position: relative;
    display: flex;
}
.bubbles span {
    position: relative;
    width: 30px;
    height: 30px;
    background: var(--colOrg1);
    margin: 0 4px;
    border-radius: 50%;
    box-shadow: 0 0 0 10px var(--colOrg2),
    0 0 50px var(--colOrg1),
    0 0 150px var(--colOrg1);
    animation: animate 15s linear infinite;
    animation-duration: calc(125s / var(--1));
}
.bubbles span:nth-child(even) {
    background: var(--colPur2);
    box-shadow: 0 0 0 10px var(--colPur3),
    0 0 50px var(--colPur2),
    0 0 150px var(--colPur2);
}
@keyframes animate {
    0% {
        transform: translateY(100vh) scale(0)
    }
    100% {
        transform: translateY(-10vh) scale(1);
    }
}