.navBar{
    display: flex;
    justify-content: center;
    align-items: center;
    /* background: teal;  */
}

.navC{
    width: 90vw;
    max-width: 1120px;
    /* background: orange; */
}

.navHeader {
    height: 6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.NavLogo {
    /* background: black; */
    display: flex;
    align-items: center;
    text-decoration: none;

}

.navBtn {
    padding:0.15rem 0.75rem
}

.navLinks {
    display: flex;
    flex-direction: column;
    height: 0;
    overflow: hidden;
    transition: 0.3s ease-in-out all;
}

.showLinks {
    height: 310px;
}

.navLink {
    display: block;
    text-align: center;
    text-transform: capitalize;
    color: black;
    text-decoration: none;
    letter-spacing: 1px;
    padding: 1rem 0;
    border-top: 1px solid gray;
    transition: 2s;
}

.cBtn{
    text-decoration: none;
    border-radius: 5px;
    border-width: 5px;
    border-style: solid;
    border-color: teal;
    background-color: teal;
    color: white;

}

.navLink:hover {
    color: blue;
    letter-spacing: 20px;
    font-size: 40px;
}



/*
Page
*/
.page {
    /* background: orange; */
    width: 90vw;
    max-width: 1120px;
    margin: 0 auto;
    padding-top: 2rem;
    min-height: calc(100vh - (6rem + 4rem));

}
/*
Footer
*/
.pageFooter {
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background: black;
    color: white;
}

.pageFooter p {
    margin-bottom: 0;
    margin-top: 0;
}

.footerLogo, .pageFooter a {
    color: teal;
}
/*
Her0
*/

.her0 {
    height: 60vh;
    background: url('../assets/recipes/intro3.gif') center/cover no-repeat;
    margin-bottom: 2rem;
    border-radius: 0.25rem;
    position: relative;
}

.her0Container {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(110, 106, 106, 0.6);
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.her0Text {
    text-align: center;
}

/* .her0Text h1 {
    color: white;
} */

.her0Text {
    /* color: white; */
    letter-spacing: 5px;
}

/* 
@Media Screen 
*/

@media screen and (min-width: 992px) {
    .navBtn {
    display: none;
    }
    .navBar {
    height: 6rem;
    }
    .navC {
        display: flex;
    align-items: center;
    };
    .navHeader {
    height: auto;
    margin-right: 3rem;
    }
    .navLinks {
    height: auto;
    flex-direction: row;
    align-items: center;
    width: 100%;
    }
    .navLink {
    padding: 0;
    border-top: none;
    margin-right: 1rem;
    margin-left: 20px;
    font-size: 1rem;
    }
    .contact {
    margin-left: auto;
    }
}

@media  screen and (min-width: 768) {
    .her0Text h1 {
        font-size: 4rem;
        margin-bottom: 0;
    }
}
/* 
Recipes
*/

.recipesContainer {
    display: grid;
    gap: 2rem 1rem;
    border: 2px solid red;
}
.recipE {
    display: block;
}
.recipeList {
    border: 15px solid green;
    display: grid;
    gap: 2rem 1rem;
    padding-bottom: 2rem;
}
.recipeImg {
    width: 60vh;
    height: 20rem;
    border-radius: 0.5rem;  
    margin-bottom: 1rem; 
   }
.recipE p, h5 {
    text-align: center;
    letter-spacing: 2px; 
}
.recipE {
    text-decoration: none;
}
.recipE h5{
    font-weight: 900;
    margin-bottom: 0;
    
}

.tagsContainer {
    border: 5px solid blue;
    order: 1;
    display: flex;
    flex-direction: column;
    padding-bottom: 2rem;
}
.tagsContainer h4 {
    text-align: center;
    font-weight: 900;
    letter-spacing: 2px;   
}
.tagsList {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.tagsList a {
    text-transform: capitalize;
    display: block;
    color: black;
    transition: 0.3s ease-in-out all;
    text-decoration: none;
    letter-spacing: 2px;
    padding-bottom: 10px;
}
.tagsList a:hover {
    color: blue;
}

/* 
@Media 
*/

