
.navBar{
    display: flex;
    justify-content: center;
    align-items: center;
    /* background: teal;  */
}

.navC{
    width: 90vw;
    max-width: 1120px;
    /* background: orange; */
}

.navHeader {
    height: 6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.NavLogo {
    /* background: black; */
    display: flex;
    align-items: center;
    text-decoration: none;

}

.navBtn {
    padding:0.15rem 0.75rem
}

.navLinks {
    display: flex;
    flex-direction: column;
    height: 0;
    overflow: hidden;
    transition: 0.3s ease-in-out all;
}

.showLinks {
    height: 310px;
}

.navLink {
    display: block;
    text-align: center;
    text-transform: capitalize;
    color: black;
    text-decoration: none;
    letter-spacing: 1px;
    padding: 1rem 0;
    border-top: 1px solid gray;
    transition: 2s;
}

.cBtn{
    text-decoration: none;
    border-radius: 5px;
    border-width: 5px;
    border-style: solid;
    border-color: teal;
    background-color: teal;
    color: white;

}

.navLink:hover {
    color: blue;
    letter-spacing: 20px;
    font-size: 40px;
}



/*
Page
*/
.page {
    /* background: orange; */
    width: 90vw;
    max-width: 1120px;
    margin: 0 auto;
    padding-top: 0;
    min-height: calc(100vh - (6rem + 4rem));
    text-align: center;
    letter-spacing: 2px; 

}
/*
Footer
*/
.pageFooter {
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background: black;
    color: white;
}

.pageFooter p {
    margin-bottom: 0;
    margin-top: 0;
}

.footerLogo, .pageFooter a {
    color: teal;
}
/*
Her0
*/

.her0 {
    height: 60vh;
    background: url('../ReceipeW/assets/recipes/intro3.gif') center/cover no-repeat;
    margin-bottom: 2rem;
    border-radius: 0.25rem;
    position: relative;
}

.her0Container {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(110, 106, 106, 0.6);
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.her0Text {
    text-align: center;
}

/* .her0Text h1 {
    color: white;
} */

.her0Text {
    /* color: white; */
    letter-spacing: 5px;
}

/* 
@Media Screen 
*/

@media screen and (min-width: 992px) {
    .navBtn {
    display: none;
    }
    .navBar {
    height: 6rem;
    }
    .navC {
        display: flex;
    align-items: center;
    };
    .navHeader {
    height: auto;
    margin-right: 3rem;
    }
    .navLinks {
    height: auto;
    flex-direction: row;
    align-items: center;
    width: 100%;
    }
    .navLink {
    padding: 0;
    border-top: none;
    margin-right: 1rem;
    margin-left: 20px;
    font-size: 1rem;
    }
    .contact {
    margin-left: auto;
    }
}

@media  screen and (min-width: 768) {
    .her0Text h1 {
        font-size: 4rem;
        margin-bottom: 0;
    }
}
/* 
Recipes
*/

.recipesContainer {
    display: grid;
    gap: 2rem 1rem;
    /* border: 2px solid red; */
}
.recipE {
    display: block;
}
.recipeList {
    /* border: 15px solid green; */
    display: grid;
    gap: 2rem 1rem;
    padding-bottom: 2rem;
}
.recipeImg {
    /* width: 50vh; */
    height: 25vh;
    border-radius: 50%;  
    margin-bottom:0; 
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
   }
.recipE p, h5 {
    text-align: center;
    letter-spacing: 2px; 
    margin-bottom: 0;
}
.recipE {
    text-decoration: none;
    color: gray;
}
.recipE h5{
    font-size: 16px;
    font-weight: 900;
    margin-bottom: 0;
    color: black;
    
    
}

.tagsContainer {
    /* border: 5px solid blue; */
    order: 1;
    display: flex;
    flex-direction: column;
    padding-bottom: 2rem;
}
.tagsContainer h4 {
    text-align: center;
    font-weight: 900;
    letter-spacing: 2px;   
}
.tagsList {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.tagsList a {
    text-transform: capitalize;
    display: block;
    color: black;
    transition: 0.3s ease-in-out all;
    text-decoration: none;
    letter-spacing: 2px;
    padding-bottom: 10px;
}
.tagsList a:hover {
    color: blue;
}

/* 
@Media 
*/

@media screen and (min-width: 576px) {
    .recipeList {
        grid-template-columns: 1fr 1fr;
    }
    .recipeImg {
        height: 10rem;
        width: 15rem;
    }
}
@media screen and (min-width: 992px) {
    .recipesContainer {
        grid-template-columns: 200px 1fr;
    }
    .tagsContainer {
        order: 0;
        display: flex;
        align-items: center;
    }
    .tagsList {
        grid-template-columns: 1fr;
    }
}
@media screen and (min-width: 1200px) {
    .recipeList {
        grid-template-columns: 1fr 1fr 1fr;
    }
    .tagsContainer {
        display: flex;
        align-items: center;
    }
}

/* 
Error
*/
.ePage  {
    text-align: center;
    margin-bottom: 0;
}
.ePage h1 {
    font-size: 10rem;
    padding-bottom: 0;
    margin-bottom: 0;
}


/*
//////////////////////////////////////////////////////////////// 
About  /////////////////////////////////////////////////////////
*/
.aboutPage h2{
    text-transform: none;
    font-weight: bold;
}
.aboutPage {
    display: grid;
    gap: 2rem 4rem;
    padding-bottom: 2rem;
}
.featuredT {
    text-align: center;
}
.aboutImg {
    border-radius: 50%;  
    height: 400px;    
    width: 375px;
}

@media screen and (min-width: 600px) {
    .aboutPage {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 400px;
        align-items: center;
    }
    .aboutImg {
        position: relative;
        height: 100%;
    }
}

@media screen and (min-width: 250px) {
    .aboutImg {
        display: block;
        margin: 0 auto;
    }

/*
//////////////////////////////////////////////////////////////// 
Contact  /////////////////////////////////////////////////////////
*/

.contactForm {
    width: 100%;
    margin: 0;
}

.textarea {
    overflow: auto;
  }
.contactCont {
    display: grid;
    gap: 2rem 3rem;
    padding-bottom: 3rem;
}
@media screen and (min-width: 550px) {

.contactCont {
    grid-template-columns: 1fr 450px;
    align-items: center;
}
}
/*
//////////////////////////////////////////////////////////////// 
Tags Page /////////////////////////////////////////////////////////
*/

.tagsWrap {
    display: grid;
    gap: 2rem;
    padding-bottom: 2rem;
}
.tags {
    background: gray;
    text-decoration: none;
    border-radius: 50%;
    height: 125px;
    width: 125px;
    text-align: center;
    color: white;
    display: block;
    margin: 0 auto;
    transition: 0.5s ease-in-out all;

}
.tags h5 {
    font-size: 20px;
    position: relative;
        top: 5px;
}
.tags p {
    position: relative;
    top: 5px;
}
.tags:hover {
    background: teal;
}

@media screen and (min-width: 550px) {
.tagsWrap {
    grid-template-columns: 1fr 1fr;
}
}
@media screen and (min-width: 992px) {
    .tagsWrap {
        grid-template-columns: repeat(3, 1fr);
}
}


/* 
@Media 
*/